body{
    background-color: whitesmoke;
}
.kep-tudos{
    width: 300px;
    height: 200px;
    margin: 2px;
}
.kep-fejlec{
    margin: auto;
    border: solid 2px white;
    width: 95%;
}
a.hover, a.active{
    border: solid 1px white;
}
td{
    margin: 0 auto;
}
.doboz{
    background-color: white;
    width: 60%;
    height: 90%;
    margin: auto;
    border: solid 3px 10px darkslategray;
}
.zaszlo-hu{
    float: right;
}
.zaszlo-en{
    float: right;
}

