body{
    background-color: whitesmoke;
}
.kep-tudos{
    width: 200px;
    height: 170px;
    margin: 5px;

}
.kep-fejlec{
    margin: auto;
    border: solid 1px black;
    width: 95%;
}

a.hover, a.active{
    border: solid 1px white;
}
table{
    margin: auto;
}
.doboz{
    background-color: white;
    width: 70%;
    height: 90%;
    margin: auto;
    border: solid 00000 darkslategray;
}
.zaszlo-hu{
    float: right;
}
.zaszlo-en{
    float: right;
}

