body{
    background-color: whitesmoke;
}
.kep-tudos{
    width: 200px;
    height: 170px;
    margin: 5px;

}
a.hover, a.active{
    border: solid 10px lime;
}
table{
    margin: 0 auto;
    border: 40px #576398 solid;
    background-color: lightgray;
    width: 1000px;
}
.doboz{
    background-color: white;
    width: 70%;
    height: 90%;
    margin: auto;
    border: solid 00000 darkslategray;
}

.kozep {
    text-align: center;
}
td {
    margin: 0;
    text-align: center;
}
.zaszlo {
    float: right;
}
.zaszlo_en {
    float: right;
    clear: both;
}